<html>
    <head>
        <title>Todo List</title>
    <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
  <link href="/assets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new items..." required />
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <!-- <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li> -->
            <% for(var i=0; i < todos.length; i++){ %>
                <li><%= todos[i].item %></li>
           <% } %>
        </ul>
    </div>
</body>
</html>